.Section {
    width: 30%;
    text-align: left;
    border: 3px solid rgb(10, 59, 10);
}

.Section__title {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.Line {
    margin: 0 auto;
    background-color: black;
    width: 80%;
    height: 2px;
}

.Section__text {
    padding: 0 10%;
}

.Checkbox {
    width: 20px;
    height: 20px;
}
