.section {
    width: 30%;
    text-align: left;
    border: 3px solid rgb(10, 59, 10);
    box-shadow: 0 2px 3px rgb(70, 71, 70);
    display: block;
    margin: 15px;
}

.section__title {
    padding: 10px 40px;
    width: 80%;
    word-wrap: break-word;
}

.title {
    word-wrap: break-word;
    font-size: 20px;
    width: 60%;
}

.title__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    margin: 3px auto;
    background-color: black;
    width: 80%;
    height: 2px;
}

.section__text {
    padding: 0 40px;
    word-wrap: break-word;
}

.checkbox__swicthColor {
    width: 20px;
    height: 20px;
}

.btn__edit,
.btn__save,
.btn__cancel {
    padding: 8px;
    color: white;
    background-color: #ac51db;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

.btn__save {
    width: 60px;
    background-color: blue;
    font-size: 10px;
}

.btn__cancel {
    width: 60px;
    background-color: red;
    font-size: 10px;
    margin-left: 2px;
}

textarea {
    border: 2px solid #6d79cd;
    height: 50px;
}

@media only screen and (max-width: 800px) {
    .section {
        width: 100%;
    }
}
