.section {
    width: 30%;
    text-align: left;
    border: 3px solid rgb(10, 59, 10);
    box-shadow: 0 2px 3px rgb(70, 71, 70);
    display: block;
    margin: 15px;
}

textarea {
    border: 2px solid #6d79cd;
    height: 50px;
}

@media only screen and (max-width: 800px) {
    .section {
        width: 100%;
    }
}
